<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu6QsSaQUQwAq5Nbrwrc-LiBehmf6M_p0</string>
	<key>GCM_SENDER_ID</key>
	<string>918922463790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>songthuy.ezs</string>
	<key>PROJECT_ID</key>
	<string>song-thuy-duong-sinh</string>
	<key>STORAGE_BUCKET</key>
	<string>song-thuy-duong-sinh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918922463790:ios:74aa351a71c7a2b8146dbf</string>
	<key>DATABASE_URL</key>
	<string>https://song-thuy-duong-sinh-default-rtdb.firebaseio.com</string>
</dict>
</plist>